.mapSvg {
    background-color: #000030
}
.country {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width:1;
}
.otherCountry {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width:1;
}
.countryPoint{
	fill: #CC6A00
}
.totalLine:hover {
	stroke:white;
}
.colorStick {
	fill:white;
}
.colorStickText {
	fill:white;
}
.transferLabelBase {
	fill:lightblue;
    fill-opacity:0.7;
}
.buttonBase{
    fill: #000050
}
.totalTransferLabel {
    fill: #0088DD
}
.buttonText {
    fill: lightblue;
}
.seasonTitle {
    fill: lightblue;
}
.buttonBase {
    fill:#000020;
}
.detailPath:hover {
    stroke:white;
}
.eachButtonBase{
    fill:#000020;
    stroke: lightblue
}
.detailTransferLabelBase {
    fill:lightblue;
    fill-opacity:0.7;
}
.playerNameValue {
    fill:#8B0000;
}
.transformButtonText {
    fill: lightblue;
}
.transformButtonBase {
    fill:#000020;
    stroke: lightblue
}
.detailCountryPoint {
    fill: #CC6A00
}
.detailCountryPoint :hover {
    fill: #EE8A00
}
.typeButtonTitle {
    fill: lightblue;
}
.typeButtonTitle {
    fill: lightblue;
}
.transferPathTypeButtonTitle {
    fill: lightblue;
}
.userInstruction{
    fill: white;
    font-size: 10px;
}