body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carouselWrapper div.carousel-caption {
    top: 6vw;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 25px;
    padding-top: 20px;
    background: rgba(0,0,0,0.3);
    right: 0;
    width: 100%;
    left: 0;
}

.carouselWrapper img.inforimg{
    position: absolute;
    zoom: 0.7;
    left: 47vw;
    top: 20vw;
}

.mapview {
    background-color: #000030;
    zoom: 0.96;
}

.carouselWrapper Button.start_button {
    position: absolute;
    left: 46vw;
    top: 45vw;
    padding: 10px 20px 10px 20px;
    z-index: 10;
}

.App > div > .navbar {
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255,0.8);
    width: 100%;
}

.card img{
    padding: 1vw;
    height: 33vw;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.country_pic {
    x: -60vw;
    y: -6vw;
    width: 120vw;
    height: 12vw;
}

.navigation-bar {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
}

.select_country_total_value {
    position: absolute;
    top: 20px;
    left: 40px;
/*    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; */
    border: 1px solid #e0e0e0;
    border-radius: 0;
    outline: none;
    display: block;
    padding: 10px;
/*    background: #000;
    color: #fff;*/
}
.select_country_total_value::after {
    content: ">";
}

.CountryPieBar {
    position: relative;
}

.twochart > * {
    display: inline-block;
}

/* The animation code */
@keyframes left2right {
    from {margin-left: -50%;}
    to {margin-left: 0;}
}

@keyframes right2left {
    from {margin-right: -50%;}
    to {margin-right: 0;}
}

/* The element to apply the animation to */
.CountryPieBar.left2right {
    animation-name: left2right;
    animation-duration: 0.5s;
}

.CountryPieBar.right2left {
    animation-name: right2left;
    animation-duration: 0.5s;
}
