body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carouselWrapper div.carousel-caption {
    top: 0;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    background: rgba(0,0,0,0.3);
    right: 0;
    width: 100%;
    left: 0;
}

.carouselWrapper img.inforimg{
    position: absolute;
    zoom: 0.7;
    left: 586px;
    top: 180px;
}